.img{
    width: 300px;
    height: 300px;
}
.description{
    width: 500px;
}
button{
    background-color: gray;
    padding: 10px 20px;
    margin: 10px 20px;
    border: none;
    cursor: pointer;
}
.details{
    margin-left: 20px;
}
@media (max-width: 550px) {
    .description{
        width: 300px;
        font-size: 12px;
    }
    
}
@media (max-width: 330px) {
    .img{
        width: 240px;
    height: 240px;
    }
    .description{
        width: 250px;
        font-size: 12px;
    }

}